[submodule "vim/bundle/YouCompleteMe"]
#	path = vim/bundle/YouCompleteMe
#	url = https://github.com/ycm-core/YouCompleteMe.git
#
#[submodule "vim/bundle/nerdtree"]
#	path = vim/bundle/nerdtree
#	url = https://github.com/scrooloose/nerdtree.git
#
#[submodule "vim/bundle/CurtineIncSw.vim"]
#	path = vim/bundle/CurtineIncSw.vim
#	url = https://github.com/ericcurtin/CurtineIncSw.vim.git
#
#[submodule "vim/bundle/vim-airline"]
#	path = vim/bundle/vim-airline
#	url = https://github.com/vim-airline/vim-airline.git
#
#[submodule "vim/bundle/vim-airline-themes"]
#	path = vim/bundle/vim-airline-themes
#	url = https://github.com/vim-airline/vim-airline-themes.git
#
#[submodule "vim/bundle/tagbar"]
#	path = vim/bundle/tagbar
#	url = https://github.com/majutsushi/tagbar.git
#
#[submodule "vim/bundle/vim-cpp-enhanced-highlight"]
#	path = vim/bundle/vim-cpp-enhanced-highlight
#	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
#
#[submodule "vim/bundle/open_file_under_cursor.vim"]
#	path = vim/bundle/open_file_under_cursor.vim
#	url = https://github.com/amix/open_file_under_cursor.vim.git
#
#[submodule "vim/bundle/fzf.vim"]
#	path = vim/bundle/fzf.vim
#	url = https://github.com/junegunn/fzf.vim.git